/* Force css invalidate and reload stylesheet */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
/* Force css invalidate - reload */
